@model IEnumerable<Social_Life.Models.Profile>
@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims
@inject ApplicationDbContext db
@{
    var user_Id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var profile = db.Profiles.FirstOrDefault(p => p.Id_User == user_Id);
}
@{
    ApplicationUser currentUser = null;

    if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        currentUser = await UserManager.FindByIdAsync(userId);
    }
}
@using Microsoft.AspNetCore.Identity
@using Social_Life.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <title>SOCIAL LIFE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/Search.css">
</head>
<body>
    <div id="header">
        <img id="logo" src="/imagini/logoAlb.png">
    </div>
    <div class="sideMenu">
        @if (SignInManager.IsSignedIn(User))
        {
            <div id="buton1">
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="#">FOR YOU</a>
            </div>
            <div id="buton">
                <i class="fa fa-search" aria-hidden="true"></i>
                <a href="@Url.Action("Search1", "Search")">CAUTĂ</a>
            </div>
            <div id="buton">
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="@Url.Action("Index", "Profile")">PROFIL</a>
            </div>
            <div id="buton">
                <i class="fas fa-user-friends"></i>
                <a href="#">URMĂRITORI</a>
            </div>
            <div id="buton">
                <i class="fas fa-user-plus"></i>
                <a href="#">URMĂRIRI</a>
            </div>
            <div id="buton">
                <i class="fa-solid fa-bell"></i>
                <a href="#">NOTIFICĂRI</a>
            </div>
            <div id="buton">
                <i class="fa fa-users" aria-hidden="true"></i>
                <a href="#">GRUPURI</a>
            </div>
            <div id="buton">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <a href="#">SETĂRI</a>
            </div>
            <div id="buton">
                <a href="/Identity/Account/Logout">DECONECTEAZĂ-TE</a>
            </div>
        }
        else
        {
            <div id="buton1">
                <i class="fa-solid fa-right-to-bracket"></i>
                <a href="/Identity/Account/Login">AUTENTIFICARE</a>
            </div>
            <div id="buton">
                <i class="fa fa-search" aria-hidden="true"></i>
                <a href="#">CAUTĂ</a>
            </div>
        }
    </div>
    <form id="SearchBox" method="get" action="/Search/Search">
        <div class="input-group mb-3">
            <input id="SearchChenar" type="text" class="form-control" name="query" placeholder="Cauta..." value="@ViewBag.Query" />
            <button class="btn btn-primary" type="submit"><i id="SearchIcon" class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </form>
    <br />
    @if (Model.Any())
    {
        @foreach (var x in Model){
            <a href="@Url.Action("Index", "Users", new { username = x.Username})"><div id="UserSection">
                <img id="UserImage" src="@x.ProfileImage" />
                <p id="UserUsername">@x.Username</p>
            </div></a>
            <br />
        }

    }
    </body>
</html>
