@model IEnumerable<Social_Life.Models.Notification>
@{
    var notifications = ViewBag.Notifications as List<Social_Life.Models.Notification>;
}

@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims
@using Newtonsoft.Json;
@inject ApplicationDbContext db
@{
    var user_Id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var profile = db.Profiles.FirstOrDefault(p => p.Id_User == user_Id);
}
@{
    ApplicationUser currentUser = null;

    if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        currentUser = await UserManager.FindByIdAsync(userId);
    }
}
@using Microsoft.AspNetCore.Identity
@using Social_Life.Data
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SOCIAL LIFE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/profil.css">
    <link rel="stylesheet" href="css/setari.css">
<<<<<<< HEAD
    <link rel="stylesheet" href="css/notificari.css">
=======
>>>>>>> a2513c7058a54005c60095c78ee76cac5eedb1fc
    <style>
        ::-webkit-scrollbar {
            width: 4px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #00ffcc;
            border-radius: 5px;
            width: 6px;
            height: 40px;
        }

        ::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 20px;
        }

        scrollbar-width: thin;
        scrollbar-color: #00ffcc transparent;
    </style>
</head>
<body>
    <div id="header">
        <img id="logo" src="imagini/logoAlb.png">
    </div>
    <div class="sideMenu">
        <div id="buton1">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="#">FOR YOU</a>
        </div>
        <div id="buton">
            <i class="fa fa-search" aria-hidden="true"></i>
            <a href="@Url.Action("Search1", "Search")">CAUTĂ</a>
        </div>
        <div id="buton">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="@Url.Action("Index", "Profile")">PROFIL</a>
        </div>
        <div id="buton">
            <i class="fa fa-users" aria-hidden="true"></i>
            <a href="#">GRUPURI</a>
        </div>
        <div id="buton">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <a asp-controller="Setari" asp-action="Index">SETĂRI</a>

        </div>
        <div id="buton">
            <a href="Identity/Account/Logout">DECONECTEAZĂ-TE</a>
        </div>
    </div>
<<<<<<< HEAD
    <div id="Notificari">
        @foreach (var notification in db.Notifications.Where(t => t.Id_User == user_Id).OrderByDescending(t => t.Date))
        {
                @if (notification.NotificationType == "FollowRequest12")
                {
                    <div id="notificareDiv">
                        <p>@notification.Message</p>
                        <form method="post" asp-controller="Notification" asp-action="HandleFollowRequest">
                            <input type="hidden" name="notificationId" value="@notification.NotificationId" />
                            <button id="succes" type="submit" name="accept" value="true" class="btn btn-success">Acceptă</button>
                            <button id="respins" type="submit" name="accept" value="false" class="btn btn-danger">Respinge</button>

                        </form>
                    </div>
                    <br/>
   
                }
                @if (notification.NotificationType == "FollowAccepted2"){
                    <div id="notificareDiv">
                        <p>@notification.Message</p>
                    </div>
                    <br />
                }
            @if ((notification.NotificationType == "FollowAccepted" || notification.NotificationType == "FollowRejected" || notification.NotificationType == "Like"))
            {
                <div id="notificareDiv">
                    @notification.Message
                </div>
                <br />
            }
        }
=======
    <div id="SetariProfil">
       

            @foreach (var notification in db.Notifications.Where(t => t.Id_User == user_Id).OrderByDescending(t => t.Date))
            {
               
                <li>
                    <p>@notification.Message</p>
                @if (notification.NotificationType == "FollowRequest12")
                {
                    <form method="post" asp-controller="Notification" asp-action="HandleFollowRequest">
                        <input type="hidden" name="notificationId" value="@notification.NotificationId" />


                        <button type="submit" name="accept" value="true" class="btn btn-success">Acceptă</button>
                        <button type="submit" name="accept" value="false" class="btn btn-danger">Respinge</button>

                    </form>
                }

                </li>
            }
           @* @foreach (var notification in db.Notifications.Where(n => n.Id_User == user_Id &&(n.NotificationType == "FollowAccepted" || n.NotificationType == "FollowRejected"))
            .OrderByDescending(n => n.Date))
            {
                <li>
                    <p>@notification.Message</p>
                </li>

            }
            *@

        @*
         *@
       
>>>>>>> a2513c7058a54005c60095c78ee76cac5eedb1fc
    </div>
</body>
</html>